* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

html,
body {
    height: 100vh;
}

.main-app {
    flex: 1;
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#page-header {
    display: block;
    text-align: center;
}

.title-text {
    font-weight: 100;
    font-size: 30px;
    margin-top: 20px;
    padding: 20px;
    color: #4d4646;
    text-decoration: underline #eea737;
}

.inner-main {
    margin: 0 auto;
}

.alert {
    display: block;
    text-align: center;
    margin-top: 30px;
}

#key-main {
    display: flex;
    justify-content: center;
}

#key-inner {
    margin: 50px 0;
    text-align: left;
}

.link {
    color: black;
    padding: 0 10px;
}

.link:hover {
    text-decoration: underline #eea737;
}
